@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso'); 

.red-text{
    color: red !important;
}

.white-text{
    color: white !important;
}

.yellow-text{
    color: yellow !important;
}

.visible{
    display: block;
}
.hidden{
    display: block;
}

.green-text{
    color: green !important;
}
.mainCard{
    text-align: left;
    margin-top: 30px;
    background-color: #191c1f;
    padding: 50px;
    border-radius: 10px;
    /* Create box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
h3{
    font-family:monospace;
}
.accordion-button{
    border-radius: 10px !important;
}
.charImage{
    max-width: 256px;
    max-height: 256px;
}

.App-header{
    position: relative;
    background-color: #191c1f;
    /* padding: 10px; */
    text-align: center;
    /* border-radius: 20px; */
    margin-bottom: 40px;
    /* Create box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    
}
#header-body{
    padding-left: 20px;
    padding-right: 20px;
}
.App-header > h1{
    font-family: 'Rubik Iso';
}

#header-top{
    background-color: white;
    height: 2px;
    margin-bottom: 20px;
}
#header-bottom{
    background-color: white;
    height: 2px;
    margin-top: 20px;
}
#header-left{
    position: absolute;
    background-color: white;
    width: 2px;
    height: 100%;
    top: 0px;
}
#header-right{
    position: absolute;
    /* make gradient grey */
    background-color: white;
    width: 2px;
    height: 100%;
    top: 0px;
    right: 0px;
}
#close-box{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid grey;
    color: black;
    padding: 0px;
}
#close-box:hover{
    background-color: grey;
    color: white;
}
#customHistory{
    border-radius: 5%;
    padding: 10px;
}
.customField{
    display:none;
    border-radius: 5%;
    padding: 0px;
    margin: 0px;
}
.customHistory{
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
}

button{
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    /* create box shadow */
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    
}

html{
    background-color: #212529;
}

